.grid div {
    background-color: #ecf0f1;
    padding: 1em;
}

.grid div:hover {
    border: 1px solid #f1c40f;
}

.grid {
    display:grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 200px 400px;
}