.grid {
    display:grid;
    /* grid-template-columns: 200px 200px 400px;
    grid-template-rows: auto 100px;
    row-gap: 1em; */
    grid-template-columns: repeat(12, 1fr);
    
}

.grid div {
    background-color: #ecf0f1;
    padding: 1em;
}

.grid div:hover {
    border: 1px solid #f1c40f;
}
